# Main printer settings file

# This file contains common pin mappings for the 2018 Creality
# Ender 3. To use this config, the firmware should be compiled for the
# AVR atmega1284p.

# Note, a number of Melzi boards are shipped with a bootloader that
# requires the following command to flash the board:
#  avrdude -p atmega1284p -c arduino -b 57600 -P /dev/ttyUSB0 -U out/klipper.elf.hex
# If the above command does not work and "make flash" does not work
# then one may need to flash a bootloader to the board - see the
# Klipper docs/Bootloaders.md file for more information.

# See the example.cfg file for a description of available parameters.

# [include menu/manual_mesh_bed.cfg]
# [include menu/power.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_38FFD4055243363809620543-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
step_distance: .0125
endstop_pin: ^PC0
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PB15
microsteps: 16
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 250

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
step_distance: .0125
endstop_pin: ^PC1
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC6
microsteps: 16
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 250

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
step_distance: .0025
#endstop_pin: ^PC2
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.0
position_min: -2
position_max: 250

[tmc2209 stepper_z]
uart_pin: PC10
microsteps: 16
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 5

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
step_distance: 0.008584
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.383
max_extrude_only_distance: 100.0
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
# tuned for my E3D V6 at 195 degree Celsius target
pid_Kp: 26.293
pid_Ki: 1.449
pid_Kd: 119.304
min_temp: 0
max_temp: 290 # 350 with upgraded temp probe

[tmc2209 extruder]
uart_pin: PC11
microsteps: 16
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 5

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC3
control: pid
# tuned for my stock hardware at 60 degree Celsius target
pid_Kp: 53.761
pid_Ki: 1.867
pid_Kd: 387.081
min_temp: 0
max_temp: 130

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
#38.15X 7.2Y 1.5Z
x_offset: -38.15
y_offset: -7.2
z_offset: 3.93
#speed: 5.0
#lift_speed: 5.0
pin_move_time: 2.0
sample_retract_dist: 20.0
#homing_retract_dist: 20.0

[safe_z_home]
home_xy_position: 155,120
#home_xy_position: 200,37
speed: 80.0
z_hop: 10.0
#z_hop_speed: 10.0

[bed_mesh]
# Manual mesh points
# mesh_min: 40,45
# mesh_max: 220,220
# BL Touch mesh points
mesh_min: 46,40
mesh_max: 235,227
probe_count: 5,5
fade_start: 1.0
fade_end: 10.0
horizontal_move_z: 10.0

[gcode_macro G29]
gcode: BED_MESH_CALIBRATE

[fan]
pin: PA8

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

[output_pin beeper]
pin: EXP1_1

[static_digital_output usb_pullup_enable]
pins: !PC13

[board_pins]
aliases:
  # EXP1 header
  EXP1_1=PB5, EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
  EXP1_2=PB6, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB7, EXP1_10=<5V>

[virtual_sdcard]
path: /gcode_files
