[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  SAVE_GCODE_STATE NAME=print_pause

  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}

  PAUSE_BASE

  SAFE_RETRACT
  SAFE_PARK

  # TODO: pause fan
  # SET_FAN_SPEED FAN=fan SPEED=0

  RESTORE_GCODE_STATE NAME=print_pause
